<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%= link_to(image_tag('logos/logo_v2_80x80.png'), home_path) %>
  </div>
  <div class="col s10">
    <h2>Pittsburgh Animal Treatment Services</h2>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>
