<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <%= image_tag 'alex_and_dusty_sm.jpg', class: 'img_left' %>
        <span class="card-title"><em>About Pittsburgh Animal Treatment Services</em></span>
        <p>We know how important your pets are to you.  We know 
          how much you love them and how they are a part of 
          your family.  And although we live in the 'Steel City' 
          and the people here are tough, we also know your pets 
          aren't always as rugged. That's why the veterinarians   
          at Pittsburgh Animal Treatment Services is committed 
          to giving you and your pet only the best care at 
          the most affordable prices.  Come visit our offices 
          at 5000 Forbes Avenue (Porter 224A) and see how we
          can help your pet on the road to recovery.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

