<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>The PATS Privacy Policy</em></span>
        <p>Our privacy policy is simple and does not require a lawyer 
          to understand it.  
          We will pounce on the opportunity to sell every
          bit of information on you we have at our disposal in order 
          to boost our bottom line.  We will gladly sell your 
          address, phone, email, age, name of pet, name of
          favorite superhero, color of bunny slippers you wear at 
          home, and the like, to any willing buyer who will pay us the big bucks.  
          (BTW, we <em>know</em> you wear bunny slippers at home and   
          we know what color they are.  You really have no secrets 
          from us.)  If you have sensitive information that you don't want us to 
          share with the world, then keep it to yourself -- don't tell us.  
          <br><br>
          It's really that simple.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>